:root{
  --background: #000;
  --white: #fff;
  --gray-background: #f4f4f4;
  --gray: #707070;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  color: var(--white);
  font-size: 1.6rem;
}

body, input, textarea, select, button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

button{
  cursor: pointer;
}

a{
  color: inherit;
  text-decoration: none;
}

ol, ul {
	list-style: none;
}